<body class="missions">
  <div *ngIf="selectedMission">
    <h2>「{{ selectedMission.name }}」任務細節</h2>
    <div class="id-display">
      <p>編號： {{ selectedMission.id }}</p>
    </div>
    <div class="field-display">
      <label for="mission-name">名稱： </label>
      <input
        id="mission-name"
        [(ngModel)]="selectedMission.name"
        placeholder="名稱"
      />
    </div>
    <div class="field-display">
      <label for="mission">數量： </label>
      <input
        id="mission-number"
        [(ngModel)]="selectedMission.amount"
        placeholder="數量"
      />
    </div>
    <div class="field-display">
      <label for="mission">單位： </label>
      <input
        id="mission-unit"
        [(ngModel)]="selectedMission.unit"
        placeholder="組"
      />
    </div>
    <div class="field-display">
      <label for="mission-is-fixed">定量： </label>
      <!-- TODO: 要怎麼顯示 -->
      <input
        id="mission-is-fixed"
        [(ngModel)]="selectedMission.isFixed"
        placeholder="非定量"
      />
    </div>
    <div class="field-display" *ngIf="selectedMission.increment">
      <label for="mission-increment">增量： </label>
      <input
        id="mission-increment"
        [(ngModel)]="selectedMission.increment"
        placeholder="增量"
      />
    </div>
    <button type="button" (click)="goBack()">返回</button>
    <button type="button" (click)="update()">更新</button>
  </div>
</body>
