<body class="missions">
  <div *ngIf="selectedMission">
    <h2>「{{ selectedMission.name }}」任務細節</h2>
    <div>編號： {{ selectedMission.id }}</div>
    <div>
      <label for="mission-name">名稱： </label>
      <input
        id="mission-name"
        [(ngModel)]="selectedMission.name"
        placeholder="名稱"
      />
    </div>
    <div>
      <label for="mission">數量： </label>
      <input
        id="mission-number"
        [(ngModel)]="selectedMission.number"
        placeholder="數量"
      />
    </div>
    <div>
      <label for="mission">單位： </label>
      <input
        id="mission-unit"
        [(ngModel)]="selectedMission.unit"
        placeholder="組"
      />
    </div>
    <div>
      <label for="mission-is-fixed">是否定量： </label>
      <input
        id="mission-is-fixed"
        [(ngModel)]="isFixedString"
        placeholder="非定量"
      />
    </div>
    <div *ngIf="selectedMission.increment">
      <label for="mission-increment">定期增量： </label>
      <input
        id="mission-increment"
        [(ngModel)]="selectedMission.increment"
        placeholder="增量"
      />
    </div>
    <button type="button" (click)="goBack()">返回</button>
  </div>
</body>
