/* MessagesComponent's private CSS styles */
.container {
  margin-left: 1em;
}

h2 {
  color: #a80000;
}

.single-message {
  border: #333;
  border-style: solid;
  width: 15em;
}

.clear {
  color: #333;
  background-color: #eee;
  margin-top: 1em;
  margin-bottom: 3px;
  padding: 0.3rem;
  border-radius: 4px;
  font-size: 1rem;
}

.clear:hover {
  color: white;
  background-color: #42545c;
}
